# Laravel-specific
/vendor
/node_modules
/storage/*.key
/public/storage
.env

# Caches and temporary files
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
.env.backup
.env.production

# Editor and system-specific files
/.idea
/.vscode
/.fleet
*.log
npm-debug.log
yarn-error.log

# Build and deployment files
/public/build
/public/hot

# Miscellaneous
.DS_Store
Thumbs.db
